<template>
    <div>
        <div class="card mb-3">
        <div class="card-header">
            Todas las categorias
        </div>
        <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                <th scope="col">N°</th>
                <th scope="col">Nombre de categoria</th>
                <th scope="col">Fecha</th>
                <!--<th></th>-->
                </tr>
            </thead>
            <tbody>
                <tr v-for="(category,index) in  getCat" :key="index" :value="category.id">
                    <th scope="row">{{index}}</th>
                    <td>{{category.name}}</td>
                    <td>{{category.vue}}</td>
                    <!--<td><button class="btn btn-primary">editar</button></td>-->
                </tr>
            </tbody>
            </table>
        </div>
    </div>
</div>
</template>
<script>
import{mapActions, mapGetters} from 'vuex'
export default {
    name:'AllCategory',
        computed:{
        ...mapGetters({
            getCat:'category/get_all_categorys'
        })
    },
    methods:{
        ...mapActions({
            get_all_categorys:'category/getCategorysAll'
        }),
    },
    mounted(){
            this.get_all_categorys()
    }
}
</script>