<template>
    <div>
        <div class="card mb-4">
            <div class="card-header">
                Crear Nueva Publicacion
            </div>
            <div class="card-body">
                <form @submit.prevent = "submit" id="createPost">
                    <div class="form-group">
                        <label for="title">Titulo: </label>
                        <input class="form-control" id="title" name="title" type="text" placeholder="Titulo" v-model="form.title" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="precio">Precio: </label>
                        <input class="form-control" id="precio" name="title" type="text" placeholder="bs" v-model="form.precio" autocomplete="off">
                    </div>
                     <div class="form-group">
                        <label for="textura">Textura: </label>
                        <input class="form-control" id="textura" name="title" type="text" placeholder="Textura" v-model="form.textura" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="category">Crear Venta</label>
                        <select class="form-control" id="category" name="category" v-model="form.category">
                            <option selected="true" disabled="disabled" value="">Seleccione Marca</option>
                            <option v-for="(category,index) in  getCat" :key="index" :value="category.id">{{category.name}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="title">Imagen</label>
                        <input class="form-control" id="image" name="image" type="file" placeholder="Subir Producto" v-on:change="onImageChange">
                    </div>
                    <div class="form-group">
                        <label for="body">Descripcion</label>
                        <textarea class="form-control" id="body" rows="3" v-model="form.body"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Crear Venta</button>
                </form>
            </div>
        </div>
    </div>
</template>
<script>
import{mapActions, mapGetters} from 'vuex'
export default {
    name:'Posts',
    data(){
       return {
           form:{
                title:'',
                precio:'',
                textura:'',
                category:'',
                body:'',
            },
            image:''
       }
    },
    computed:{
        ...mapGetters({
            getCat:'category/get_all_categorys'
        })
    },
    methods:{
        ...mapActions({
            send_create_post:'post/createPost',
            get_all_categorys:'category/getCategorysAll'
        }),
        onImageChange(p){
            console.log(p.target.files[0]);
            this.image = p.target.files[0]
        },
        async submit(){
            //await this.send_create_post(this.form)
            const config ={
                headers:{'content-type':'multipart/form-data'}
            }
            console.log(this.image)
            let formData = new FormData();
            formData.append('image',this.image)
            formData.append('file',this.image)
            formData.append('form',JSON.stringify(this.form))
            let data = {
               config:config,
               formdata:formData
            }
            try {
                await this.send_create_post(data)
                $('#createPost')[0].reset()
                this.$swal({
                    icon: 'success',
                    title: 'Producto creado',
                    showConfirmButton: false,
                    timer: 2500
                })
            } catch (error) {
                let msgError = ''
				let obj = error.response.data.errors
				console.log(obj)
				for(var prop in obj){
					if(!obj.hasOwnProperty(prop)) continue
					obj[prop].forEach(element => {
						msgError = element + ' ' + msgError
					}); 
				}
				this.$swal({
					icon:'The Internet?',
					title:'Introduzca una imagen',
					text: msgError,
				})
            }
        },
    },
    mounted(){
            this.get_all_categorys()
    }
} 
</script>