<template>
        <div>
        <div class="card mb-4">
            <div class="card-header">
                Crear Nueva categoria
            </div>
            <div class="card-body">
                <form @submit.prevent = "submit" id="createCategory">
                    <div class="form-group">
                        <label for="title">Categoria Del Producto</label>
                        <input class="form-control" id="name" name="name" type="text" placeholder="Producto" v-model="form.name" autocomplete="off">
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Crear categoria</button>
                </form>
            </div>
        </div>
    </div>
</template>
<script>
import {mapActions} from 'vuex'
export default {
    name:'CreateCategory',
    data(){
       return {
            form:{
            name:'',
            },
       }
    },
    methods:{
        ...mapActions({
            create_category_post:'category/createCategory'
        }),
        async submit(){
            try {
                await this.create_category_post(this.form)
                $('#createCategory')[0].reset()
                this.$swal({
                    icon: 'success',
                    title: 'Categoria creado',
                    showConfirmButton: false,
                    timer: 2500
                })
            } catch (error) {
                let msgError = ''
				let obj = error.response.data.errors
				console.log(obj)
				for(var prop in obj){
					if(!obj.hasOwnProperty(prop)) continue
					obj[prop].forEach(element => {
						msgError = element + ' ' + msgError
					}); 
				}
				this.$swal({
					icon:'The Internet?',
					title:'Introduzca bien su categoria',
					text: msgError,
				})
            }
        }
    }
}
</script>