<template>
    <div>
        <div class="card mb-4">
            <div class="card-header">
                Editar Anuncio
            </div>
            <div class="card-body">
                <form @submit.prevent = "submit">
                    <div class="form-group">
                        <label for="title">Titulo</label>
                        <input class="form-control" id="title" name="title" type="text" placeholder="Titulo" v-model="getEdit.title" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="precio">Precio</label>
                        <input class="form-control" id="precio" name="title" type="text" placeholder="bs" v-model="getEdit.precio" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="textura">Textura</label>
                        <input class="form-control" id="textura" name="title" type="text" placeholder="textura" v-model="getEdit.textura" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="category">Categoria</label>
                        <select class="form-control" id="category" name="category" v-model="getEdit.categoryid">
                            <option selected="true" disabled="disabled" value="">Seleccione Categoria</option>
                            <option v-for="(category,index) in  getCat" :key="index" :value="category.id">{{category.name}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="title">Imagen</label>
                        <input class="form-control" id="image" name="image" type="file" placeholder="Subir Imagen" v-on:change="onImageChange">
                    </div>
                    <div class="form-group">
                        <label for="body">Contenido</label>
                        <textarea class="form-control" id="body" rows="3" v-model="getEdit.body"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Editar Publicacion</button>
                </form>
            </div>
        </div>
    </div>
</template>
<script>
import{mapActions, mapGetters} from 'vuex'
export default {
    name:'Posts',
    data(){
       return {
           form:{
                title:'',
                precio:'',
                texture:'',
                category:'',
                body:'',
            },
            image:''
       }
    },
    computed:{
        ...mapGetters({
            getCat:'category/get_all_categorys',
            getEdit:'post/detailposts'
        })
    },
    methods:{
        ...mapActions({
            get_all_categorys:'category/getCategorysAll',
            get_post_edit:'post/detailPost',
            edit_post:'post/editPost'
        }),
        onImageChange(p){
            this.image = p.target.files[0]
        },
        async submit(){

            this.form={
                title:$('#title').val(),
                precio:$('#precio').val(),
                textura:$('#textura').val(),
                category:$('#category').val(),
                body:$('#body').val()
            }
            //await this.send_create_post(this.form)
            const config ={
                headers:{'content-type':'multipart/form-data'}
            }
            console.log(this.image)
            let formData = new FormData();
            //formData.append('image',this.image)
            formData.append('file',this.image)
            formData.append('form',JSON.stringify(this.form))
            formData.append('_method','PUT')
            for(var value of formData.values()){
                console.log(value)
            }
            let data = {
               config:config,
               param:this.$route.params.slug,
               formdata:formData
            }
            await this.edit_post(data)
        },
    },
    mounted(){
            //console.log(this.$route.params.slug)
            this.get_all_categorys()
            this.get_post_edit(this.$route.params.slug)
    }
} 
</script>