<template>
    <div>
        <NavHome :color="color"/>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container d-flex h-100 align-items-center">
                <div class="mx-auto text-center">
                    <h1 class="mx-auto my-0 text-uppercase">Telas Textil</h1>
                    <h2 class="text-white-50 mx-auto mt-2 mb-5">Siente la mejor experiencia de nuestros productos de Telas, en calidad y suavidad.</h2>
                    <!--<a class="btn btn-primary js-scroll-trigger" href="#about">Get Started</a>-->
                </div>
            </div>
        </header>
        <!-- About-->
        <section class="about-section text-center" id="Nuestros Servicios">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h2 class="text-white mb-4">Nuestros Servicios</h2>
                        <p class="text-white-50">
                            Textiles dedicada a la fabricación de ropa industrial, ropa de trabajo y uniformes para todo tipo de Empresas. La amplia experiencia en el mercado nos hace ofrecerle un trabajo de calidad a satisfacción de los gustos más exigentes.
                            <a href="https://textileslaescala.com/wp-content/uploads/2017/06/la-escala-textiles-blog-tipos-de-telas-1.jpg">garantias</a>
                            Colaboramos con nuestros clientes en el mejoramiento y optimización de su imagen corporativa, a través del diseño y confección de ropa industrial para sus Empresas.
                        </p>
                    </div>
                </div>
                <img class="img-fluid" src="https://www.aplausocalzados.com/img/cms/blog/traje-marino.jpg" alt="" />
            </div>
        </section>
        <!-- Projects-->
        <section class="projects-section bg-light" id="Mercadería">
            <div class="container">
                <!-- Featured Project Row-->
                <div class="row align-items-center no-gutters mb-4 mb-lg-5">
                    <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="https://image.made-in-china.com/202f0j10dywEaNeqPOzn/Spark-Yc910-Model-Air-Jet-Loom-Good-Choice-for-Weaving-Denim-Fabric.jpg" alt="" /></div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="featured-text text-center text-lg-left">
                            <h4>Maquinas Actualizadas</h4>
                            <p class="text-black-50 mb-0">Trabajamos con nuestras maquinas de puntas especializados para todo tipos de material de telas ya sea depotiva, de gala, otros</p>
                        </div>
                    </div>
                </div>
                <!-- Project One Row-->
                <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
                    <div class="col-lg-6"><img class="img-fluid" src="https://i.pinimg.com/originals/9c/f3/66/9cf366398805e4bc2c9c5a9d551ab596.jpg" alt="" /></div>
                    <div class="col-lg-6">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-left">
                                    <h4 class="text-white">Jeans</h4>
                                    <p class="mb-0 text-white-50">Un materias super grueso pero de buena calidad que es capaz  de soportar trabajos duros como para la area de ingeneria, o vestimenta de calle.</p>
                                    <hr class="d-none d-lg-block mb-0 ml-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Project Two Row-->
                <div class="row justify-content-center no-gutters">
                    <div class="col-lg-6"><img class="img-fluid" src="https://sc2.elpais.com.uy/files/article_main/uploads/2018/08/22/5b7dfbad464bc.jpeg" alt="" /></div>
                    <div class="col-lg-6 order-lg-first">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-right">
                                    <h4 class="text-white">Futbolistas</h4>
                                    <p class="mb-0 text-white-50">Un material super fino con una ne nuestras mejors telas, especialmente para deportistas y licras, o mallas.</p>
                                    <hr class="d-none d-lg-block mb-0 mr-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Signup-->
        <section class="signup-section" id="signup">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-lg-8 mx-auto text-center">
                        <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
                        <h2 class="text-white mb-5">Suscríbete para recibir mas imformacion</h2>
                        <form class="form-inline d-flex">
                            <input class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" type="email" placeholder="Introducir el correo electrónico"/>
                            <button class="btn btn-primary mx-auto" type="submit">Suscribir</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- Contact-->
        <section class="contact-section bg-black">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">DIRECCIÓN</h4>
                                <hr class="my-4" />
                                <div class="small text-black-50">Calle quijarro #16</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-envelope text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Correo electrónico</h4>
                                <hr class="my-4" />
                                <div class="small text-black-50"><a href="#!">textil_tel@gmail.com</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-mobile-alt text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Teléfono</h4>
                                <hr class="my-4" />
                                <div class="small text-black-50">267658868</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="social d-flex justify-content-center">
                    <a class="mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                    <a class="mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                    <a class="mx-2" href="#!"><i class="fab fa-github"></i></a>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
import NavHome from '../components/NavHome'
export default {
    name:'Home',
    data(){
        return{
            color:''
        }
    },
    components:{NavHome},
}
</script>