<!--<template>
   <form action="#" @submit.prevent = "submit">
        <div>
            <label for="email">Correo electronico</label>
            <input type="email" name="email" id="email" v-model="form.email" autocomplete="off">
        </div>
        <div>
            <label for="password">Contraseña</label>
            <input type="text" name="password" id="password" v-model="form.password" autocomplete="off" >
        </div>
        <button type="submit">Iniciar Session</button>
    </form>     
</template>-->

<template>
	<div>
	<NavHome :color="color"/>
    <div class="limiter" style="padding: 2%;">	
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form"  @submit.prevent = "submit">
					<span class="login100-form-title p-b-34">
						Inicio de Session
					</span>
					
					<div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20" data-validate="Type user name">
						<input id="email" class="input100" type="email" name="email" placeholder="Correo Electronico" v-model="form.email" autocomplete="off">
						<span class="focus-input100"></span>
					</div>
					<div class="wrap-input100 rs2-wrap-input100 validate-input m-b-20" data-validate="Password" autocomplete="off">
						<input class="input100" type="password" name="password" id="password" placeholder="Password" v-model="form.password" autocomplete="off">
						<span class="focus-input100"></span>
					</div>
					
					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Ingresar
						</button>
					</div>

					<div class="w-full text-center p-t-27 p-b-239">
						<span class="txt1">
							Olvido
						</span>

						<a href="#" class="txt2">
							¿Usuario Contraseña?
						</a>
					</div>

					<div class="w-full text-center">
						<a href="#" class="txt3">
							Inscribirse
						</a>
					</div>
				</form>

				<div class="login100-more" style="background-image: url('/images/griezman.png');"></div>
			</div>
		</div>
	</div>
	</div>

</template>

<script>
import {mapActions} from 'vuex'
import NavHome from '../components/NavHome'
export default {
    name:'SignIn',
	components:{NavHome},
    data(){
        return {
            form:{
            email:'',
            password:''
            },
			color:'PeachPuff'
        }
    },
    methods:{
        ...mapActions({
            signIn:'auth/signIn'
        }),
        async submit(){
            try {
				await this.signIn(this.form)
            	this.$router.replace({name:'dashboard.post'})	
			} catch (error) {
				let msgError = ''
				let obj = error.response.data.errors
				console.log(obj)
				for(var prop in obj){
					if(!obj.hasOwnProperty(prop)) continue
					obj[prop].forEach(element => {
						msgError = element + ' ' + msgError
					});
				}
				this.$swal({
					icon:'The Internet?',
					title:'Introduzca correctamente su correo?',
					text: msgError,
				});
			}
        }
    }
}
</script>   